'use strict'
const merge = require('webpack-merge')
const prodEnv = require('./prod.env')

module.exports = merge(prodEnv, {
  NODE_ENV: '"development"',
  API_BASE: '"http://10.104.16.156/bank/"',
  STORAGE_BASE: '"http://10.104.16.156/storage/"'
})
